/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse; border-spacing: 0;}

body {
  color: #2f3030;
  font-family: 'Libre Baskerville', 'Georgia', serif;
  line-height: 1.8em;
}

h1, h2, h3 {
  color: #2f3030;
  font-family: Convergence, sans-serif;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  padding: 6px 0 6px 0;
}

p {
  margin: 10px 0 10px 0;
}

strong {
  font-weight:bold;
}

em {
  font-style: italic;
}

header {
  background-color: #2f3030;
  color: #dedede;
  font-family: Convergence, sans-serif;
  overflow: auto;
  padding: 10px 0 0 0;
}

header nav {
  margin: 0 auto;
  width: 960px;
}

header nav ul {

}

header nav li {
  display: inline;
  margin: 0 5px 0 5px;
  overflow: auto;
}

header nav li a {
  color: #dedede;
  text-decoration: none;
}

header nav li a:hover {
  text-decoration: none;
}

#email {

}

#site-link {
  position: absolute;
  margin-left: -125px;
}

#twitter {

}

#github {

}

#linkedin {

}

#google {
  padding-top: 1px;
}

#logo {
  float: left;
}

#logo a {
  font-size: 2.0em;
  text-decoration: none;
}

#links {
  float: right;
}

#intro-wrapper {
  background-color: #dedede;
}

#intro {
  margin: 0 auto;
  overflow: auto;
  padding: 20px 0 20px 0;
  width: 960px;
}

#intro img {
  float: left;
  height: 90px;
  margin: 0 10px 0 0;
  width: 90px;
}

#intro a {
  color: #266CC7;
  text-decoration: none;
}

#intro a:hover {
  color: #266CC7;
  text-decoration: underline;
}

#intro a:visited {
  color: #266CC7;
  text-decoration: none;
}

.content {
  font-size: 1.1em;
  margin: 0 auto;
  width: 960px;
}

.content ul {
  margin: 0 0 0 10px;
}

.content li {
  margin: 0 0 0 5px;
}

.content a {
  color: #266CC7;
  text-decoration: none;
}

.content a:hover {
  color: #266CC7;
  text-decoration: underline;
}

.content a:visited {
  color: #266CC7;
  text-decoration: none;
}

#posts {
  clear: both;
}

#posts li a {
  color: #990000;
}

#tools li strong {
  display: inline-block;
  width: 110px;
}

.timestamp {
  font-family: "Courier New", monospace;
}

footer {
  margin: 30px auto 0 auto;
  width: 960px;
}

footer #copyright {
  font-size: 0.8em;
  padding: 10px 0 0 0;
  text-align: right;
}

.gist {
  ackground-color: #ffffff;
  font-size: 14px;
}

.gist h1, h2, h3, h4 {
  color: black;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.gist h2 {
  border-bottom: 1px solid #CCC;
}

.gist pre, .gist code, .gist kbd, .gist samp { 
  color: #000; 
  font-family: monospace, monospace; 
  _font-family: 'courier new', monospace; 
  font-size: 0.98em; 
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
}

.gist pre { 
  white-space: pre; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.gist h1{ font-size:2.5em; }
.gist h2{ font-size:2em; }
.gist h3{ font-size:1.5em; }
.gist h4{ font-size:1.2em; }
.gist h5{ font-size:1em; }
.gist h6{ font-size:0.9em; }

.gist {
  font-family: consolas,monaco,courier,"courier new",fixed-width;
}

.gist .gist-file .gist-data {
  padding: 20px 20px 20px 20px;
}