<nav>
  <ul>
    <li class="logo"><a href="/">Randy Burgess</a></li>
    <li><a href="http://github/wrburgess"><img src="/images/github-icon.png" alt="Github" /></a></li>
    <li><a href="http://www.linkedin.com/in/wrburgess"><img src="/images/linkedin-icon.png" alt="LinkedIn" /></a></li>
    <li><a href="http://twitter.com/wrburgess"><img src="/images/twitter-icon.png" alt="Twitter" /></a></li>
    <li><a href="http://gplus.to/wrburgess"><img src="/images/googleplus-icon.png" alt="Google+" /></a></li>
  <ul>
</nav>