<nav>
  <ul id="logo">
    <li><a href="/" title="Randy Burgess Home Page">Randy Burgess</a></li>
  </ul>
  <ul id="links">
    <li id="email"><a id="site-link" href="mailto:rb@jbrb.com" title="Randy Burgess email">rb@jbrb.com</a></li>
    <li id="twitter"><a href="http://twitter.com/wrburgess" title="Randy Burgess on Twitter"><img src="/images/twitter-icon.png" alt="Twitter" /></a></li>
    <li id="github"><a href="http://github.com/wrburgess" title="Randy Burgess on Github"><img src="/images/github-icon.png" alt="Github" /></a></li>
    <li id="linkedin"><a href="http://www.linkedin.com/in/wrburgess" title="Randy Burgess on LinkedIn"><img src="/images/linkedin-icon.png" alt="LinkedIn" /></a></li>
    <li id="google"><a href="http://gplus.to/wrburgess" title="Randy Burgess on Google+"><img src="/images/googleplus-icon.png" alt="Google+" /></a></li>
  </ul>
</nav>